<div class="wrapper navigation wrapper-hidden animate-long delay-short">
  <div class="navigation-wrapper animate-short delay-long">
    <span class="navigation-close"><i class="fa fa-times"></i> <p class="header-text">Close</p></span>
    <div class="navigation-logo-container">
      <img class="img-scale" src="https://s3.amazonaws.com/www-tropo-com/wp-content/uploads/2015/05/Cisco_logo.svg_.png">
    </div>
  </div>
  <div class="links-container animate-short delay-long">
    <ul class="navigation-items">
      <li class="navigation-item"><p class="header-text"><a href="#">Featured</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Events</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Industries</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Products</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Services</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Featured</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Events</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Industries</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Products</a></p></li>
      <li class="navigation-item"><p class="header-text"><a href="#">Services</a></p></li>
    </ul>
  </div>
</div>