<div class="wrapper navigation wrapper-hidden delay-short">
  <div class="navigation-wrapper">
    <span class="navigation-close"><i class="fa fa-times"></i></span>
    <div class="links-container">
      <ul class="navigation-items">
        <li class="navigation-item"><p class="header-text"><a href="#">Featured</a></p></li>
        <li class="navigation-item"><p class="header-text"><a href="#">Events</a></p></li>
        <li class="navigation-item"><p class="header-text"><a href="#">Industries</a></p></li>
        <li class="navigation-item"><p class="header-text"><a href="#">Products</a></p></li>
        <li class="navigation-item"><p class="header-text"><a href="#">Services</a></p></li>
      </ul>
    </div>
  </div>
</div>