<div class="wrapper pagination">
    
    <div class="list-section-container">
      <p class="header-text">View videos 1 <i class="fa fa-long-arrow-right"></i> 8</p>
    </div>

    <div class="btns-container">
      <div class="previous">
        <p class="header-text">Previous</p>
      </div>
      <div class="next">
        <p class="header-text">Next <span>8</span></p>
      </div>
    </div>

</div>