<div class="wrapper bg-black white search-bar collapsible hidden">
  <div class="search-bar-wrapper">
    <div class="search-input-container">
      <input type="text" class="search-input" placeholder="Search videos...">
    </div>
    <div class="search-btn-container">
      <a class="search-focus" href="#"><i class="fa fa-search"></i></a>
    </div>
  </div>
</div>