<div class="list-item">
  <div class="wrapper video-item">
    <div class="video-item-wrapper">

      <div class="video-container">
        <img class="img-scale" src="http://i.ytimg.com/vi/7tRQioKIWFQ/maxresdefault.jpg">
        <div class="video-share">
          <i class="fa fa-share-alt"></i>
          <i class="fa fa-times hidden"></i>
          <div class="popover animated fadeOut hidden">
            <div class="popover-content">
              <p class="meta"><a href="#"><i class="fa fa-facebook-square"></i> Share</a></p>
              <p class="meta"><a href="#"><i class="fa fa-twitter"></i> Tweet</a></p>
              <p class="meta"><a href="#"><i class="fa fa-envelope"></i> Email</a></p>
              <p class="meta"><a href="#"><i class="fa fa-link"></i> Get link</a></p>
            </div>
            <div class="popover-arrow"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="wrapper video-item-info">
    <div class="info-wrapper">
      <div class="details-container">
        <p class="header-text">Retail Center Created lorem ipsum "Everyday Wonder"</p>
        <p class="badge">5:04</p>
        <p class="meta">Lorem ipsum olor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </div>
</div>