<div class="wrapper collapsed">

  <div class="image-container">
    <img src="http://linkis.com/url-image/https://i.ytimg.com/vi/DaxkI_75c-8/maxresdefault.jpg" class="img-scale">
    <div class="label-container">
      <p class="header-text">What's New</p>
    </div>
  </div>

  <div class="headline-container">
    <p class="header-text">Lorem ipsum dolar massi tulsa</p>
  </div> 


</div>