<div class="wrapper fold-up">

  <div class="fold-up-desktop">
    <div class="image-container">
      <img src="http://linkis.com/url-image/https://i.ytimg.com/vi/DaxkI_75c-8/maxresdefault.jpg" class="img-scale animated">
      <div class="label-container animated">
        <p class="header-text">What's New</p>
      </div>
    </div>

    <div class="headline-container animated">
      <p class="header-text">Lorem ipsum dolar massi tulsa</p>
    </div> 
  </div>

</div>