<div class="list-item">
  <div class="wrapper video-item">
    <div class="video-item-wrapper">

      <div class="video-container">
        <img class="img-scale" src="http://i.ytimg.com/vi/7tRQioKIWFQ/maxresdefault.jpg">
        <div class="video-share">
          <i class="fa fa-share-alt"></i>
        </div>
      </div>

    </div>
  </div>
  <div class="wrapper video-item-info">
    <div class="info-wrapper">
      <div class="details-container">
        <p class="header-text">Retail Center Created lorem ipsum "Everyday Wonder"</p>
        <p class="badge">5:04</p>
        <p class="meta">Lorem ipsum olor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>
  </div>
</div>