<div class="wrapper video-main">
  <div class="video-main-wrapper">
    <img class="img-scale" src="http://linkis.com/url-image/https://i.ytimg.com/vi/DaxkI_75c-8/maxresdefault.jpg">
    <div class="inner-container">
      <div class="label-container">
        <p class="header-text">What's New</p>
      </div>
      <div class="video-share">
        <i class="fa fa-share-alt"></i>
      </div>
    </div>
  </div>
</div>