<div class="wrapper video-main-info">
  <div class="info-wrapper">
    <div class="details-container">
      <p class="header-text">Lorem ipsum dolar massi tulsa</p>
      <p class="badge">5:04</p>
      <p class="meta">Lorem ipsum olor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
  </div>
</div>