<div class="wrapper video-main">
  <div class="video-main-wrapper">
    <img class="img-scale" src="https://raw.githubusercontent.com/evturn/chronicle/master/dist/img/thumb.png">
    <div class="inner-container">
      <div class="label-container">
        <p>What's New</p>
      </div>
    </div>
  </div>
</div>