<div class="wrapper video-main">
  <div class="video-main-wrapper">
    <img class="img-scale" src="http://linkis.com/url-image/https://i.ytimg.com/vi/DaxkI_75c-8/maxresdefault.jpg">
    <div class="inner-container">
      <div class="label-container">
        <p class="header-text">What's New</p>
      </div>
      <div class="video-play">
        <i class="fa fa-play"></i>
      </div>
      <div class="video-share">
        <i class="fa fa-share-alt"></i>
        <i class="fa fa-times hidden"></i>
        <div class="popover animated fadeOut hidden">
          <div class="popover-content">
            <p class="meta"><a href="#"><i class="fa fa-facebook-square"></i> Share</a></p>
            <p class="meta"><a href="#"><i class="fa fa-twitter"></i> Tweet</a></p>
            <p class="meta"><a href="#"><i class="fa fa-envelope"></i> Email</a></p>
            <p class="meta"><a href="#"><i class="fa fa-link"></i> Get link</a></p>
          </div>
          <div class="popover-arrow"></div>
        </div>
      </div>
    </div>

  </div>
</div>