.video-navbar {
  background-color: @grey;
  color: @secondary;

  .navbar-wrapper {
    overflow: auto;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  
  }

  .nav-hamburger-container,
  .nav-search-container {
    position: relative;
    cursor: pointer;
    .transition(0.2s);
    
    &:hover,
    &:hover p,
    &:hover i, {
      color: @primary;
    }
  }

  .nav-hamburger-container { 
    float: left;
    cursor: pointer;
    text-align: left;
    z-index: 1;
  }
  .nav-search-container { 
    float: right;
    cursor: pointer;
    text-align: right;
  }
  .nav-logo-container { 
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .img-scale {
      width: 90px;
      display: inline-block;
    }
  }

  .header-text { display: none; }
  .fa {
    display: inline-block;
    font-size: 2em;
  }
  @media (min-width: @sm) {
    .header-text { 
      display: inline-block; 
      margin-left: 10px;
    }
    .fa {
      font-size: 1.5em;
    }
  }
}