.video-navbar {
  background-color: @grey;
  color: @secondary;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (min-width: @sm) {
    padding-top: 20px;
    padding-bottom: 20px; 
  }
  .nav-hamburger-container,
  .nav-search-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-hamburger-container span:hover i,
  .nav-hamburger-container span:hover p,
  .nav-search-container span:hover i,
  .nav-search-container span:hover p, {
    .transition(0.2s);
    color: @primary;
  }

  .nav-hamburger-container { 
    float: left;
    cursor: pointer;
  }
  .nav-logo-container { 
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .img-scale {
      width: 90px;
      display: inline-block;
    }
  }
  .nav-search-container { 
    cursor: pointer;
    float: right;
    text-align: right;
  }
  .header-text { display: none; }
  .fa {
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
  }
  @media (min-width: @sm) {
    .header-text { 
      display: inline-block; 
      margin-left: 10px;
    }
    .fa {
      font-size: 1.5em;
    }
  }
}