.navigation-wrapper {
  
  .transition(all 0.2s ease);
  .animation-duration(0.6s);
  z-index: 10;
  height: 100vh;
  opacity: 0.95;
  position: absolute;
  width: 100vw;

  .links-container {
    margin-top: 70px;
  }

  .navigation-header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    max-width: @lg;
    @media (min-width: @sm) {
      padding: 30px 25px 40px 25px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: @lg) {
      padding: 30px 0px 40px;
    }
  }
  .nav-logo {
    position: relative;
    @media (min-width: @sm) {
      margin-top: -15px;
    }
    .img-responsive {
      width: 90px;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      position: absolute;
    }
  }

  .navigation-close {
    float: left;
    cursor: pointer;
    &:hover {
      color: @primary;
   }
  }
  .fa {
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
  }

  .navigation-items {
    padding-left: 0;
  }

  .navigation-item { 
    list-style-type: none; 
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    a {
       background: transparent;
       text-decoration: none;
       &:hover {
        color: @primary;
       }
    }
  }
  .header-text {
    @media (min-width: @sm) {
      font-size: 32px;
    }
  }
}

.links-container,
.navigation-close {
  .animation-duration(0.1s);
}

.trigger-delay {
  .animation-delay(0.6s);
}

.trigger-delay-short {
  .animation-delay(0.2s); 
}