.pagination {
  padding: 0;

  @media (min-width: @sm) {
    width: 100%;
    overflow: auto;
    border-top: 1px solid @grey;
  }
  .list-section-container {
    padding: 25px 15px 25px 15px;

    @media (min-width: @sm) {
      max-width: none;
      float: left;
      padding: 15px 0 0 5%;

    }
    
    .inner-wrapper;
      border-top: 2px solid @grey;
      border-bottom: 2px solid @grey;
      text-align: center;

      @media (min-width: @sm) {
        border-top: none;
        border-bottom: none;
      }
    
    .header-text {
      font-size: 24px;
      font-weight: 600;
      font-family: @sans;


      @media (min-width: @sm) {
        padding: 45px 0;
        font-size: 26px;
        color: @primary;
      }
    }
  }



  .btns-container {
    @media (min-width: @sm) {
      float: right;
      width: 40%;
    }

    .previous,
    .next {
      padding: 45px 0 45px;
      text-align: center;
      width: 49%;
      display: inline-block;
      text-transform: uppercase;

      .header-text {
        font-family: @sans;
        cursor: pointer;

        @media (min-width: @sm) {
          font-size: 20px;
        }

        &:hover {
          color: @grey;
          .transition(0.2s);
        }

      }


    }

    .previous {

      @media (min-width: @sm) {
        color: @primary;
      }
    }

    .next {
      border-left: 1px solid @grey;

      span {
        font-size: 40px;
        vertical-align: middle;

        @media (min-width: @sm) {
          font-size: 60px;
          .font-thin;
        }
      }
    }
  }
}