.pagination {
  padding: 0;

  @media (min-width: @sm) {
    width: 100%;
    overflow: auto;
    border-top: 1px solid @grey;
    height: 75px;
  }
  .list-section-container {

    @media (min-width: @sm) {
      max-width: none;
      float: left;
      padding: 15px;

    }
    
    .inner-wrapper;
      border-top: 2px solid @grey;
      border-bottom: 2px solid @grey;
      text-align: center;

      @media (min-width: @sm) {
        border-top: none;
        border-bottom: none;
      }
    
    .header-text {
      font-size: 24px;
      font-weight: 600;
      font-family: @sans;
      padding: 25px 0 25px;

      @media (min-width: @sm) {
        padding: 0;
      }
    }
  }



  .btns-container {
    @media (min-width: @sm) {
      float: right;
      width: 40%;
    }

    .previous,
    .next {
      padding: 45px 0 45px;
      text-align: center;
      width: 49%;
      display: inline-block;
      text-transform: uppercase;

      @media (min-width: @sm) {
        padding: 15px 0 0;
      }

      .header-text {
        font-family: @sans;
      }
    }
    .next {
      border-left: 1px solid @grey;

      span {
        font-size: 40px;
        vertical-align: middle;
      }
    }
  }
}