.video-main {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: @sm) {
    padding-right: 15px;
    padding-left: 15px;
  }

  .img-scale {
    margin-left: auto;
    margin-right: auto;
  }
}