.video-main-info {
  background-color: @grey;
  padding-top: 15px;
  padding-bottom: 15px;

  .duration {
    background-color: @primary;
    color: @white;
    display: inline-block;
  }
  .meta {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.6em;
  }
}