.video-share {
  position: absolute;
  z-index: 1;
  
  color: @white;
  text-align: center;
  .fa-share-alt,
  .fa-times, {
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    background-color: @darkgrey;
    line-height: 50px;
    border-radius: 50%;

  }
}



.video-share.invert {
  color: @black;

  .fa-share-alt,
  .fa-times {
    background-color: @grey;
  }
}

.video-main .video-share.invert {
  
  .fa-times {
    border: 1px solid @secondarygrey;
  }
}

.video-main-wrapper .video-share {
  right: 20px;
  bottom: -25px;

  @media (min-width: @sm) {
    right: 0;
    bottom: -150px
  }
}

.video-item-wrapper .video-share {
  right: -26px;
  bottom: -25px;

  @media (min-width: @sm) {
    right: 10px;
    bottom: -20px;
  }
}