.video-share {
  position: absolute;
  z-index: 1;
  
  color: @white;
  text-align: center;
  .fa-share-alt {
    height: 50px;
    width: 50px;
    font-size: 1.5em;
    background-color: @darkgrey;
    line-height: 50px;
    border-radius: 50%;
    @media (min-width: @sm) {
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 1em;
    }

  }
}

.video-main-wrapper .video-share {
  right: 15px;
  bottom: -25px;

  @media (min-width: @sm) {
    bottom: -130px
  }
}

.video-item-wrapper .video-share {
  right: -26px;
  bottom: -25px;

  @media (min-width: @sm) {
    right: 10px;
    bottom: -20px;
  }
}