.video-main-info {
  background-color: @grey;
  
  @media (min-width: @sm) {
    padding-bottom: 40px;
  }
}

.video-main-wrapper {
  max-width: 950px;
}

.video-main-info .header-text {
  font-size: 25px;
  @media (min-width: @sm) {
    font-size: 30px;
  }
  margin-bottom: 5px;
  line-height: 1.3em;
  }

.video-item-info .header-text {
  font-size: 20px;
  margin-bottom: 5px;
}

.video-main-info,
.video-item-info {

  .meta {
    .secondary;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.6em;
  }

  .links-container {
    padding-bottom: 60px;

    .meta {
      text-align: right;
      
      span {
        color: @primary;
        font-size: 25px;
      }
    }
  }
}

.ad-spot {
  .bc-cta {
    display: none;
    height: 90px;
    width: 728px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid @secondary;

    @media (min-width: @md) {
      display: block;
    }
  }
}

.info-wrapper,
.video-main-wrapper {
  max-width: @lg - 150px;
}

.video-main-info {
  .info-wrapper {
    padding-top: 25px;

  }
}

.info-wrapper {
  overflow: auto;
}

.details-container {
  @media (min-width: @sm) {
    width: 60%;
    float: left;
    display: inline-block;
  }
}

.links-container {
  @media (min-width: @sm) {
    float: right;
    display: inline-block;
    vertical-align: top;
    .meta {
      padding: 0;
    }

  }
}