
.videos-list {
  margin-left: auto;
  margin-right: auto;
  max-width: @max;
  text-align: center;
}

.list-item {
  .gutter;
  text-align: left;
  @media (min-width: @sm) {
    width: 33.3333333333%;
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
  }

}


.video-item-info {
  .meta {
    .font-thin;
  }
}

// Set first video in list to have box-shadow
.videos-list .video-item:first-child .video-container {
  .box-shadow(0px -3px 19px -4px rgba(0,0,0,0.75););
  z-index: 1;
  margin-top: -15px;
}