.white           { color: @white; }
.black           { color: @black; }
.grey            { color: @grey; }
.primary         { color: @primary; }
.secondary       { color: @secondary; }
.hidden          { display: none; }

body             { font-family: @sanscondensed; }
p                { -webkit-font-smoothing: antialiased; }
a                { background: transparent; }

.animate-long    { .animation-duration(0.6s); }
.animate-short   { .animation-duration(0.1s); }
.delay-long      { .animation-delay(0.6s); }
.delay-short     { .animation-delay(0.2s);  }

.img-scale {
  max-width: 100%;
  height: auto;
  display: block;
}
